.card {
  position: relative;
  background-color: transparent;
  z-index: 999;
}

.card::before {
  content: "";
  border-radius: 20px;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 53, 62, 0.8);
  filter: blur(4px);
  box-shadow: 10px 9px 70px 0px rgba(36, 53, 62, 0.4);
  z-index: -1;
  -webkit-filter: blur(4px);
}

.image {
  position: absolute;
  top: -70px;
  right: 0;
  width: 120px;
  height: 120px;
  transform: translate(20px, -20px);
  -webkit-transform: translate();
  -moz-transform: translate();
  -ms-transform: translate();
  -o-transform: translate();
}
